:root {
  ---primary: #2185d0;
}

* {
  box-sizing: border-box;
  box-shadow: none;
}

header {
  display: flex;
  justify-content: space-between;
}

header a,
header p {
  flex-wrap: wrap;
  font-size: 1.5em;
}

section p {
  font-size: 1.5em;
}

section #buttons {
  display: flex;
  width: 15%;
  flex-flow: column wrap;
  gap: 5px;
  margin: 2% auto;
}
